*.pid
*.xml
*.csr
*.crt
*.key
www
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
notes
secrets.yaml
known_devices.yaml
*.conf
*.pickle
*.token
plex.conf
phue.conf
.*
!/.gitignore
!/*.sample
!/*.yaml.disabled
html5_push_registrations.conf
ip_bans.yaml
google_calendars.yaml
/icloud/*
/notes/*
/examples/*
ip_bans.yaml
/homebridge_config/*
/dasher_config/*
/custom_components/*
OZW_Log.txt
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.sqlite
*.log
*.json
*.db-shm
*.db-wa1
